<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>openidConnectClient-1.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>mpConfig-1.3</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443"/>
    
    <openidConnectClient id="${client.id}"
                         clientId="${client.id}"
                         clientSecret="${client.secret}"
                         discoveryEndpointUrl="https://login.microsoftonline.com/${tenant.id}/v2.0/.well-known/openid-configuration"
                         issuerIdentifier="https://login.microsoftonline.com/{tenant.id}/v2.0"
                         signatureAlgorithm="RS256"
                         userIdentityToCreateSubject="upn"
                         groupIdentifier="groups" />
                         
    <webApplication location="${project.name}.war" contextRoot="/">
        <application-bnd>
            <security-role name="authenticated">
                <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
        </application-bnd>
    </webApplication>

    <!-- This is the keystore that will be used by SSL and by JWT. -->
    <keyStore id="defaultKeyStore" location="${keystore.name}" password="${keystore.pass}" />
</server>
